//- This is the layout for the /generator page

extends page

block custom-scripts
  script(src='/lib/jszip/jszip.min.js')
  script(src='/lib/jszip/FileSaver.min.js')
  script(src='/lib/typeahead/typeahead.bundle.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js')
  script(src='http://repo2.maven.org/maven2/org/wildfly/swarm/fraction-list/1.0.0.Final/fraction-list-1.0.0.Final.js')
  script(src='/js/generator-controller.js')
