//- This is the layout for the /generator page

extends layout

block main
  .breadcrumbs
    .container
      h1!= title


  .container
    .row
      .col-md-12
        != contents

block custom-scripts
  script(src='/lib/typeahead/typeahead.bundle.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js')
  script(src='http://repo2.maven.org/maven2/org/wildfly/swarm/fraction-list/2016.10.0/fraction-list-2016.10.0.js')
  script(src='/js/generator-controller.js')
