//- Layout for the home page

extends layout

block main
  div.jumbotron
    img(src='images/swarm_logo.png' alt='WildFly Swarm Logo').img-responsive
    p.lead Cloud Native Java EE
  
  div.row-fluid
    div!= contents
