//- Layout for the home page

extends layout

block main
  section.section
    .container
      div.jumbotron
        img(src='images/swarm_logo.png' alt='WildFly Swarm Logo').img-responsive
        p.lead Rightsize Your Services

    div.row-fluid
      div!= contents
