//- This is the main layout typically this is not specified in your pages,
//- but inherited by other layouts such as page.jade and post.jade.
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='WildFly Swarm Official Website')

    link(rel="icon" href="/favicon.ico")
    link(rel="alternate" type="application/rss+xml" title="RSS Feed for wildfly-swarm.io" href="/rss.xml")

    block title
      title= title ? title + " | " + site.title : site.title
        
    block styles
      link(rel='stylesheet' media='screen' href='/lib/bootstrap/css/bootstrap.min.css')
      link(rel='stylesheet' media='screen' href='/css/site.css')
      link(rel='stylesheet' media='screen' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600')
      link(rel='stylesheet' media='screen' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

  body
    block body
    block navbar
      nav.navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            button(type='button' class='navbar-toggle collapsed' data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
              span.sr-only
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='/').navbar-brand
              img(src='/images/swarm_icon_32x32.png').icon
              span WildFly Swarm
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href='/posts') Blog
              li
                a(href='/documentation') Documentation
              li
                a(href='/community') Community
              li
                a(href='/resources') Resources
              li
                a(href='https://github.com/wildfly-swarm/wildfly-swarm') GitHub

    .container#content
      block main


    block footer
      footer(id='footer')
        div.footer
          p(class='text-center') &copy; Copyright 2015 <a href="http://redhat.com">Red Hat, Inc.</a> | WildFly Swarm is Open Source Software

    block scripts
      if devMode
        script(src="http://localhost:35729/livereload.js")

      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
      script(src='/lib/bootstrap/js/bootstrap.min.js')
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-6435340-8', 'auto');
        ga('send', 'pageview');


