//- This is the layout for individual pages like /documentation and /getting-started

extends layout

block main
  .page-header
    .row
      .col-sm-8
        block content
      .col-sm-3.col-sm-offset-1.
        Sidebar
