//- This is the layout for individual pages like /documentation and /getting-started

extends layout

block main
  .page-header
    .row
      .col-sm-8
        block content
      .col-sm-3.col-sm-offset-1
        .sidebar.panel.panel-default
          ul
            li
              a(href='http://twitter.com/wildflyswarm') Follow @wildflyswarm
            li
              a(href='http://webchat.freenode.net/?channels=wildfly-swarm') #wildfly-swarm on IRC
            li
              a(href='https://groups.google.com/forum/#!forum/wildfly-swarm') Google Group
            li
              a(href='https://issues.jboss.org/projects/SWARM/issues/SWARM-80?filter=allopenissues') Issue Tracker
            li.last
              a(href='https://projectodd.ci.cloudbees.com/view/WildFly%20Swarm/') Continuous Integration
            //-li
              //- a(href='/rss.xml') RSS Feed
