//- Layout for the blog index page at http://wildfly-swarm.io/posts/

extends main

block content
  div.breadcrumbs
    .container
      h1 Blog
  .container.posts
    each post in collections.posts
      .post-preview
        h2.title-v2
          a(href='/'+post.path)!= post.title
        div.post-excerpt!= post.excerpt
        p
          a(href='/'+post.path)!= "> Read More"
