extends layout

block main
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        #posts
          each post in collections.posts
            .post-preview
              h2.post-title
                a(href='/'+post.path)!= post.title
              div.post-meta!= post.excerpt

