//- Layout for the blog index page at http://wildfly-swarm.io/posts/

extends layout

block main
  .page-header.posts
    .row
      #posts
        each post in collections.posts
          .post-preview
            h2.post-title
              a(href='/'+post.path)!= post.title
            div.post-excerpt!= post.excerpt

