//- Layout for the blog index page at http://wildfly-swarm.io/posts/

extends main

block content
  div.page-header
    h2 Blog
  .posts
    each post in collections.posts
      .post-preview
        h2.page-header
          a(href='/'+post.path)!= post.title
        div.post-excerpt!= post.excerpt
        p
          a(href='/'+post.path)!= "> Read More"
