.sidebar.panel.panel-default
  ul
    li
      a(href='http://twitter.com/wildflyswarm') Follow @wildflyswarm
    li
      a(href='http://webchat.freenode.net/?channels=wildfly-swarm') #wildfly-swarm on IRC
    li
      a(href='https://groups.google.com/forum/#!forum/wildfly-swarm') Google Group
    li
      a(href='https://issues.jboss.org/projects/SWARM/issues?filter=allopenissues') Issue Tracker
    li.last
      a(href='https://projectodd.ci.cloudbees.com/view/WildFly%20Swarm/') Continuous Integration
    //-li
      //- a(href='/rss.xml') RSS Feed
