.sidebar.panel.panel-default
  ul
    li
      a(href='http://github.com/wildfly-swarm/tutorial') Source Repository
    li
      a(href='/tutorial') Tutorial Intro
    li
      a(href='/tutorial/example-app') Example Application
    li
      a(href='/tutorial/prerequisites') Prerequisites
    li
      a(href='/tutorial/step-0') Step 0: A manageable codebase
    li
      a(href='/tutorial/step-1') Step 1: Services the old way
    li
      a(href='/tutorial/step-2') Step 2: Right-size your runtime
    li
      a(href='/tutorial/step-3') Step 3: Container API, Fractions and Deployments
    li
      a(href='/tutorial/step-4') Step 4: Environment specific configuration
    li
      a(href='/tutorial/step-5') Step 5: Fault tolerance and resilience
    li
      a(href='/tutorial/step-6') Step 6: Load balancing and failover
    li
      a(href='/tutorial/step-6') Appendix A: Fault-injection proxy
    li
      a(href='/tutorial/step-6') Appendix B: Hystrix Dashboard
