body {
    padding-top: 20px;
    background-color: #262626;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size:16px;
    line-height: 22px;
}

a {
    color: #337ab7;
}

a:hover {
    color: #337ab7;
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0px;
}

#content ul {
    list-style: disc inside;
}

#content ul > li > :first-child {
    display: inline;
}

#content td, #content th {
    padding: 3px;
}

.h1, .h2, .h3, h1, h2, h3, h4, h5 {
    color: #343434;
}

h1, h2 {
  font-weight: 800;
}

.h1, h1 {
    font-size: 30px;
}

.h2, h2 {
    font-size: 24px;
}

.h3, h3 {
    font-size: 18px;
    margin: 24px 0;
}

.navbar-default {
    background-color: #f3f3f3;
}

.navbar-brand img.icon {
    display: inline;
    float: left;
    padding-right: 6px;
    margin-top: -6px;
}

.navbar .nav > li > a {
    font-weight: bold;
    text-shadow: none;
    text-transform: uppercase;
    color: #343434;
}

.jumbotron {
    margin: 40px 0 20px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
}

.page-header {
    margin: 24px 0;
    padding-bottom: 23px;
    border-bottom: 1px solid #e9e9e9;
}

.alt .page-header {
    border-color: #eeeeee;
}

.post-excerpt {
  padding:15px;
}

.posts .row {
    margin-right: 0px;
    margin-left: 0px;
}

.post-preview h2.post-title {
    font-size: 24px;
}

.post-meta {
    font-weight: bold;
    padding: 10px 0;
}

/*
	overrides to make the buttons match the logo color scheme
*/

.btn-primary, .btn-primary:active
{
	background-color: #6b6b6b;
  border-color: #333;
}


.btn-primary:active:hover {
	    background-color: #4d4d4d;
}

.btn-primary:active:focus {
	    background-color: #4d4d4d;
}


.btn-primary:hover {
	    background-color: #808080;
}


.btn-primary i {
  color: white!important
}


footer .panel {
    background-color: #efefef;
    color: #939393;
    font-size: 10px;
}

footer {
background: #333333 none repeat scroll 0 0;
  border-top: 1px solid black;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25) inset;
  color: #e9e9e9;
  text-shadow: 1px 1px 1px #222222;
}

.sidebar ul {
    list-style: none !important;
    margin: 10px;
    padding: 0px;
}

.sidebar ul li {
    border-bottom: 1px solid #dadada;
    padding: 1ex;
}

.sidebar ul li.last {
    border: none;
}

.sidebar.panel {
    background-color: #eaeaea;
    margin-top:20px
}


.gray-background {
    background-color: #f1f1f1;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.13) !important;
    position: relative;
}

.main-container {
    padding: 40px 0 40px 20px;
}

.box-style {
    margin: 20px 0;
    padding: 20px;
    text-align: center;
}

.white-background {
    background-color: #ffffff !important;
    border: medium none !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

i {
    color:#666666;
}

footer.div {
    margin-top:30px;
}

.footer {
    color: #999999;
    font-size: 14px;
}
.footer {
    background-color: #262626;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #3a3a3a;
    padding: 30px 0;
}

.title {
    font-weight: BOLD;
}

.tag {
    background-color: #e9821f;
    border-radius: 0.25em;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin: 0.2em;
    padding: 0.4em 0.7em;
}

#search, .twitter-typeahead, .tt-hint {
    width: 100%;
}
.tt-query {
    width: 100%;
}
.tt-query, .tt-hint {
    border: 2px solid #ccc;
    border-radius: 8px;
    height: 34px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
}
#search:focus {
    border: 2px solid #0097cf;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999;
}
.tt-menu {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 12px 0;
    padding: 8px 0;
    width: 100%;
}
.tt-suggestion {
    font-size: 18px;
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion:hover {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
}
.flex-display {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}
.flex-display .row{
    margin-right: 1px
}

/* logo colors :
   gray = #6b6b6b orange = #faa425
*/
.section.alt {
   background-color: #ffc266;
   box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}

.section {
    margin: 0;
    padding: 30px 0;
    position: relative;
    background-color: white;
}

.well {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    border: 1px solid white;
    box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
}

code {
  padding: 4px;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color:#000000;
}

.ulist ul {
  list-style: disc;
  padding-left: 20px;
}

.badge {
  margin:2px;
}

.admonitionblock {
  padding:5px;
  margin-top:15px;
  margin-bottom:15px;
  border-left:4px solid #ccc!important;
}

.admonitionblock .title {
  padding-right:20px;
}

table thead th, table tfoot th { font-weight: bold; }

table.tableblock.grid-all { border-collapse: separate; border-spacing: 1px; -webkit-border-radius: 4px; border-radius: 4px; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; }

table.tableblock.frame-topbot, table.tableblock.frame-none { border-left: 0; border-right: 0; }

table.tableblock.frame-sides, table.tableblock.frame-none { border-top: 0; border-bottom: 0; }

table.tableblock td .paragraph:last-child p, table.tableblock td > p:last-child { margin-bottom: 0; }

th.tableblock.halign-left, td.tableblock.halign-left { text-align: left; }

th.tableblock.halign-right, td.tableblock.halign-right { text-align: right; }

th.tableblock.halign-center, td.tableblock.halign-center { text-align: center; }

th.tableblock.valign-top, td.tableblock.valign-top { vertical-align: top; }

th.tableblock.valign-bottom, td.tableblock.valign-bottom { vertical-align: bottom; }

th.tableblock.valign-middle, td.tableblock.valign-middle { vertical-align: middle; }

p.tableblock.header { color: #222222; font-weight: bold; }

td > div.verse { white-space: pre; }

table.tableblock {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}
/*
This is a "ugly" solution to position the "Generate Project" btn besides the "Artifact ID" input.
When the times come to change this form this needs to be reviewed.
There is no other way to do it since its not following a standard strcuture for a form.
*/

  .swarm-generator-form{
    margin-bottom: 20px;
  }
@media (min-width:  992px) {
  .swarm-generator-form{
    position: relative;
  }
  .swarm-generator-form button{
    position: absolute;
    bottom: 0;
    right: -200px;
  }
}
