body {
    padding-top: 20px;
    background-color: #fefefe;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
}

a {
    color: #E9821F;
}

a:hover {
    color: #464646;
}

ul {
    list-style: none;
    padding: 0px;
}

#content ul {
    list-style: disc inside;
}
    
#content ul > li > :first-child {
    display: inline;
}

#content td, #content th {
    padding: 3px;
}

h1, h2, h3, h4, h5 {
    color: #343434;
}

.h1, h1 {
    font-size: 32px;
}

.h2, h2 {
    font-size: 28px;
}

.h3, h3 {
    font-size: 22px;
}

.navbar-default {
    background-color: #f3f3f3;
}

.navbar-brand img.icon {
    display: inline;
    float: left;
    padding-right: 6px;
    margin-top: -6px;
}

.jumbotron {
    margin: 40px 0 20px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
}

.page-header {
    padding-top: 10px;
    padding-bottom: 20px;
}

.posts .row {
    margin-right: 0px;
    margin-left: 0px;
}

.post-preview h2.post-title {
    font-size: 24px;
}

.post-meta {
    font-weight: bold;
    padding: 10px 0;
}

footer .panel {
    background-color: #efefef;
    color: #939393;
    font-size: 10px;
}

.sidebar ul {
    list-style: none !important;
    margin: 10px;
    padding: 0px;
}

.sidebar ul li {
    border-bottom: 1px solid #dadada;
    padding: 1ex;
}

.sidebar ul li.last {
    border: none;
}

.sidebar.panel {
    background-color: #eaeaea;
}


.gray-background {
    background-color: #f1f1f1;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.13) !important;
    position: relative;
}

.main-container {
    padding: 40px 0 40px 20px;
}

.box-style {
    margin: 20px 0;
    padding: 20px;
    text-align: center;
}

.white-background {
    background-color: #ffffff !important;
    border: medium none !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

i {
    color:#666666;
}

footer.div {
    margin-top:30px;
}

.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white {
    background-color: #F8931E;
    border-color: #F8931E;
    color: #fff;
}

.btn-white {
    background-color: transparent;
    border: 1px solid #F8931E;
    color: #F8931E;
}

.footer {
    color: #999999;
    font-size: 14px;
}
.footer {
    background-color: #262626;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #3a3a3a;
    padding: 30px 0;
}

.title {
    font-weight: BOLD;
}