body {
    padding-top: 20px;
    padding-bottom: 40px;
}

a {
    color: #E9821F;
}

a:hover {
    color: #464646;
}

h1, h2, h3, h4, h5 {
    color: #262626;
}

.h1, h1 {
    font-size: 32px;
}

.h2, h2 {
    font-size: 28px;
}

.h3, h3 {
    font-size: 22px;
}

.navbar-brand img.icon {
    display: inline;
    float: left;
    padding-right: 6px;
    margin-top: -6px;
}

.jumbotron {
    margin: 40px 0 20px;
    padding: 10px;
    text-align: center;
}

.page-header {    
    padding-bottom: 20px;
}

.page-header.posts .row {
    margin-right: 0px;
    margin-left: 0px;
}

.post-preview h2.post-title {
    font-size: 24px;
}

.post-meta {
    font-weight: bold;
    padding: 10px 0;
}

footer .panel {
    color: #939393;
    font-size: 10px;
}
