---
title: Resources
lastUpdate: 2015-11-10
layout: page.jade
---

h2 Resources

h3 Presentation Decks

p.
  Lots of folks have given talks and presentations on Swarm over the last year or so.
  Not all of the talks have been recorded, but there is plenty of good reading material
  in the slide decks alone. Check them out on github.

p
  a(href='https://github.com/wildfly-swarm/wildfly-swarm-presentations') wildfly-swarm/wildfly-swarm-presentations
  
p If you've given a talk on WildFly Swarm and would like to share your slide deck with us, please send us a 
  a(href='https://github.com/wildfly-swarm/wildfly-swarm-presentations/pulls') pull request!  

h3 Recorded Presentations

table.table.table_hover
  tr
    th Title
    th Presenter
    th Event
    th Length
  tr
    td
      a(href='https://www.youtube.com/watch?v=S9XP8S85XaI#t=9h09m17s') Java EE 7 Applications as a Microservice with WildFly Swarm
    td Ken Finnigan
    td JavaOne 2015
    td 60'
  tr
    td
      a(href='https://developers.redhat.com/video/youtube/RsaKmBTgEhM/') WildFly Swarm and Netflix OSS: The Perfect Union?
    td Ken Finnigan
    td JavaOne 2015
    td 16'
  tr
    td
      a(href='https://developers.redhat.com/video/youtube/i1aiUaa8RZ8/') Java EE 7 Applications as a Microservice with WildFly Swarm
    td Ken Finnigan
    td JavaOne 2015
    td 23'
  tr
    td
      a(href='https://asciinema.org/a/19697') JBoss Forge WildFly Swarm Addon
    td George Gastaldi
    td Screencast 2015
    td 90"

